<?xml version="1.0" encoding="UTF-8" ?>
<configuration>

    <appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%d, %-5p, %X{user}, %F, %t] - %m%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="consoleAppender"/>
    </root>

    <logger name="org.apache.cxf" level="INFO" />
    <logger name="org.springframework" level="ERROR" />
    <logger name="no.nav.fo" level="DEBUG" />
    <logger name="no.nav.modig.security" level="DEBUG" />
</configuration>