<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="no/nav/common/log/logback-stdout-json.xml"/>
    <include resource="no/nav/common/log/logback-naudit.xml"/>
    <include resource="no/nav/common/log/logback-cxf.xml"/>

    <appender name="team-logs" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>team-logs.nais-system:5170</destination>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <customFields>{"google_cloud_project":"${GOOGLE_CLOUD_PROJECT}","nais_namespace_name":"${NAIS_NAMESPACE}","nais_pod_name":"${NAIS_POD_NAME}","nais_container_name":"${NAIS_APP_NAME}"}</customFields>
            <includeContext>false</includeContext>
        </encoder>
    </appender>

    <logger name="org.springframework.graphql" level="DEBUG"/>

    <logger name="SecureLog" level="${SECURE_LOG_LEVEL:-INFO}" additivity="false">
        <appender-ref ref="team-logs"/>
    </logger>

</configuration>
